<!DOCTYPE html>
<html lang="de">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>JackTools.Net - ChatApi - 404 Page not found</title>
  <meta name="description" content="JackTools.Net Homepage">
  <meta name="author" content="JackTools.Net">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/chatapi.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">    
    <div class="row header">
      <div class="twelve column">
        <img class="header-logo" src="/images/logo.png"  alt="logo" title="logo">
        <span class="header-title"><%= pageTitle %></span>
      </div>
    </div>
    <div class="row">
        <div class="twelve column">
          <div class="error"><img class="message-icon" src="/images/error_404.png"><p class="message-titel">Ups page not found</p></div>
        </div>
      </div>
  </div>
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
